---
import { Image } from 'astro:assets'
import profile from '~/assets/imgs/profile.webp'
import Contact from './Contact.astro'
---

<section
  id="home"
  class="flex flex-col items-center justify-center gap-6 md:flex-row"
>
  <div class="flex-1 flex flex-col gap-6 text-center md:text-start">
    <h1 class="text-3xl font-bold">
      Hi there, I'm <span class="primary-gradient-text">Jamal</span> 👋
    </h1>

    <p class="text-xl leading-9">
      I'm a <span class="primary-gradient-text">software developer</span> based in
      Morocco. I'm passionate about building software and learning new technologies.
      I'm currently working as <span class="primary-gradient-text"
        >freelancer</span
      > at Upwork and building my own projects.
    </p>
    <Contact class="hidden md:flex" />
  </div>

  <div class="shrink-0">
    <div class="relative">
      <Image
        class="bg-glass aspect-square w-72 rounded-full mx-auto"
        src={profile}
        alt="ShrJamal Porfolio Profile"
        width="288"
        height="288"
        loading="eager"
      />
      <div
        class:list={[
          'w-full h-full rounded-full',
          'fixed z-[-1] -top-[20%] -right-[20%] blur-[10rem]',
          'from-primary/40 bg-gradient-to-tr to-background  ',
        ]}
      >
      </div>
    </div>
    <Contact class="md:hidden" />
  </div>
</section>
