---
const skills = [
  {
    name: "Languages",
    techs: ["HTML", "CSS", "Javascript", "Typescript", "Dart", "Python"],
  },
  {
    name: "Frontend",
    techs: ["React", "Nextjs", "Astro", "TailwindCSS", "Svelte", "Flutter"],
  },
  {
    name: "Backend",
    techs: [
      "Nodejs",
      "Nestjs",
      "SQL",
      "Redis",
      "Graphql",
      "Supabase",
      "Firebase",
    ],
  },
]
---

<section id="techs" class="flex flex-col items-center gap-3">
  <h2 class="gradient-text text-4xl">Techs</h2>
  <div
    class="grid gap-4 w-full justify-center"
    style="grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));"
  >
    {
      skills.map((s) => (
        <div class="bg-glass h-[11rem] w-full min-w-[18rem] rounded-xl px-4 py-2">
          <h3 class="text-center text-2xl font-bold">{s.name}</h3>
          <div class="grid grid-cols-2 gap-2 pt-4">
            {s.techs.map((t) => (
              <div class="flex ">
                <span class="i-[mdi--check-decagram] text-accent" />
                <h3 class="ml-2 leading-4">{t}</h3>
              </div>
            ))}
          </div>
        </div>
      ))
    }
  </div>
</section>
