---
import { Image } from 'astro:assets'
---

<div class="flex items-center justify-center">
  <Image src="/logo.webp" alt="ShrJamal' Website logo" width={40} height={40} />
  <a
    class="bg-gradient-to-br from-primary to-secondary bg-clip-text text-2xl font-extrabold text-transparent"
    href="/"
  >
    Jamal
  </a>
</div>
