---
import RootLayout from '~/layouts/RootLayout.astro'
import Navbar from '~/components/TheNavbar.astro'
import Intro from './components/Intro.astro'
import Projects from './components/Projects.astro'
---

<RootLayout
  class="mx-auto max-w-[70rem] p-2 pb-10 sm:px-10"
  title="Asahraoui Jamal Personal Portfolio website"
>
  <main class="flex flex-col gap-8">
    <Navbar />
    <Intro />
    <Projects />
    <div class="h-20"></div>
  </main>
</RootLayout>
