---
import RootLayout from '~/layouts/RootLayout.astro'
import Navbar from '~/components/Navbar.astro'
import Contact from './components/Contact.astro'
import Experience from './components/Experience.astro'
import Intro from './components/Intro.astro'
import Projects from './components/Projects.astro'
import Techs from './components/Techs.astro'
---

<RootLayout title="Asahraoui Jamal Personal Portfolio website">
  <Navbar>
    <Contact />
  </Navbar>
  <main class="mx-auto py-10 px-2 sm:p-10 max-w-[70rem]">
    <Intro />
    <Techs />
    <Experience />
    <Projects />
    <div class="h-20"></div>
  </main>
</RootLayout>
