---
import Navbar from '~/components/Navbar.astro'
import Contact from './_components/Contact.astro'
import Experience from './_components/Experience.astro'
import Hero from './_components/Hero.astro'
import Projects from './_components/Projects.astro'
import Techs from './_components/Techs.astro'
import RootLayout from '~/layouts/RootLayout.astro'
---

<RootLayout title="Asahraoui Jamal Personal Portfolio website">
  <Navbar>
    <Contact />
  </Navbar>
  <main class="mx-auto p-10 max-w-[70rem]">
    <Hero />
    <Techs />
    <Experience />
    <Projects />
    <div class="h-20"></div>
  </main>
</RootLayout>
