---
const contactInfo = [
  {
    name: 'Github',
    url: 'https://github.com/shrjamal',
    icon: 'icon-[mdi--github]',
  },
  {
    name: 'Twitter',
    url: 'https://twitter.com/shrjamal',
    icon: 'icon-[mdi--twitter]',
  },
  {
    name: 'Linkdin',
    url: 'https://www.linkedin.com/in/shrjamal',
    icon: 'icon-[mdi--linkedin]',
  },
  {
    name: 'Telegram',
    url: 'https://t.me/jamalshr',
    icon: 'icon-[mdi--telegram]',
  },
]
---

<section id="contact" class="mt-4 flex gap-x-2 justify-center items-center">
  {
    contactInfo.map((it) => (
      <a
        class="bg-glass btn btn-circle btn-sm btn-outline hover:bg-black"
        href={it.url}
        title={it.name}
        target="_blank"
        rel="noreferrer"
      >
        <span class:list={[it.icon, 'text-white text-xl']} />
      </a>
    ))
  }
</section>
