---
import { Icon } from 'astro-icon'

const contactInfo = [
  {
    name: 'Github',
    url: 'https://github.com/shrjamal',
    icon: 'mdi:github',
  },
  {
    name: 'Twitter',
    url: 'https://twitter.com/shrjamal',
    icon: 'mdi:twitter',
  },
  {
    name: 'Linkdin',
    url: 'https://www.linkedin.com/in/shrjamal',
    icon: 'mdi:linkedin',
  },
  {
    name: 'Telegram',
    url: 'https://t.me/jamalshr',
    icon: 'mdi:telegram',
  },
]
---

<section
  id="contact"
  class="mx-auto mt-4 flex space-x-2 justify-center items-center"
>
  {
    contactInfo.map((it) => (
      <a
        class="bg-glass btn btn-circle btn-outline hover:bg-black"
        href={it.url}
        title={it.name}
        target="_blank"
        rel="noreferrer"
      >
        <Icon name={it.icon} class="text-3xl text-white" size="20" />
      </a>
    ))
  }
</section>
