---
import { Image } from 'astro:assets'
import profile from '~/assets/images/profile.webp'
---

<section
  id="home"
  class="flex flex-col justify-center items-center text-primary-content"
>
  <Image
    class="mt-10 bg-glass w-72 aspect-square rounded-full"
    src={profile}
    alt="Jamal Asahraoui | ShrJamal Porfolio Profile picture"
    width="288"
    height="288"
    loading="eager"
  />
  <h1 class="mt-4 text-4xl text-center text-primary-content">
    Jamal ASAHRAOUI
  </h1>
  <h2 class="text-lg font-thin">Self-taught Full Stack Developer</h2>
</section>
