---
import { Image } from 'astro:assets'
import profile from '~/assets/images/profile.webp'
---

<section
  id="home"
  class="px-4 flex flex-col items-center justify-center md:flex-row space-x-4"
>
  <div>
    <h1 class="text-3xl font-bold">
      Hi there, I'm <span class="primary-gradient-text">Jamal</span> 👋
    </h1>

    <p class="mt-6 text-xl leading-9 max-w-[30rem]">
      I'm a <span class="primary-gradient-text">software developer</span> based in
      Morocco. I'm passionate about building software and learning new technologies.
      I'm currently working as <span class="primary-gradient-text"
        >freelancer</span
      > at UpWork and building my own projects.
    </p>
  </div>

  <div class="shrink-0">
    <Image
      class="bg-glass w-72 aspect-square rounded-full"
      src={profile}
      alt="Jamal Asahraoui | ShrJamal Porfolio Profile picture"
      width="288"
      height="288"
      loading="eager"
    />
  </div>
</section>
