---
import { Icon } from 'astro-icon'
const skills = [
  {
    name: 'Languages',
    techs: ['HTML5', 'CSS3', 'Javascript', 'Typescript', 'Dart', 'Python'],
  },
  {
    name: 'Frontend',
    techs: ['React', 'Nextjs', 'Astro', 'TailwindCSS', 'Flutter', 'SvelteKit'],
  },
  {
    name: 'Backend',
    techs: [
      'Nodejs',
      'Nestjs',
      'MongoDB',
      'SQL',
      'Redis',
      'Graphql API',
      'Firebase',
    ],
  },
]
---

<section id="skills" class="mt-10 flex flex-col items-center">
  <h2 class="gradient-text text-4xl">Techs</h2>
  <div class="mt-4 grid grid-cols-1 sm:grid-cols-2 gap-4">
    {
      skills.map((s) => (
        <div class="bg-glass px-4 rounded-xl w-[20rem] text-primary-content">
          <h3 class="mt-2 mb-4 font-bold text-center text-xl">{s.name}</h3>
          <div class="mb-4 grid grid-cols-2 gap-2">
            {s.techs.map((t) => (
              <div class="flex ">
                <Icon name="mdi:check-decagram" class="text-accent" size="20" />
                <h3 class="ml-2 leading-4">{t}</h3>
              </div>
            ))}
          </div>
        </div>
      ))
    }
  </div>
</section>
