---
import Contact from "~/components/Contact.astro"
import Experience from "~/components/Experience.astro"
import Intro from "~/components/Intro.astro"
import Projects from "~/components/Projects.astro"
import Techs from "~/components/Techs.astro"
import Navbar from "~/components/TheNavbar.astro"
import RootLayout from "~/layouts/RootLayout.astro"
---

<RootLayout
  class="mx-auto max-w-7xl p-2 sm:px-6 md:px-10"
  title="ShrJamal"
  description="ShrJamal - a neobrutalist portfolio"
>
  <main class="flex flex-col gap-12">
    <Navbar />
    <Intro />
    <Projects />
    <Experience />
    <Techs />
    <Contact />
  </main>
</RootLayout>
