---
import Intro from "~/components/Intro.astro"
import Projects from "~/components/Projects.astro"
import Navbar from "~/components/TheNavbar.astro"
import RootLayout from "~/layouts/RootLayout.astro"
---

<RootLayout
  class="mx-auto max-w-[80rem] p-2 sm:px-6 md:px-10"
  title="Jamal Shr Personal Portfolio website"
  description="I'm Jamal is a full-stack developer, designer, and content creator. He is passionate about building products and sharing his knowledge with the community."
>
  <main class="flex flex-col gap-12">
    <Navbar />
    <Intro />
    <Projects />
    <div class="h-10"></div>
  </main>
</RootLayout>
