---
const contactInfo = [
  {
    name: "hi@shrjamal.com",
    url: "mailto:hi@shrjamal.com",
    icon: "icon-[mdi--email]",
  },
  {
    name: "",
    url: "https://github.com/shrjamal",
    icon: "icon-[mdi--github]",
  },
  {
    name: "",
    url: "https://t.me/jamalshr",
    icon: "icon-[logos--telegram]",
  },
  {
    name: "",
    url: "https://twitter.com/shrjamal",
    icon: "icon-[logos--x]",
  },
  {
    name: "",
    url: "https://www.upwork.com/freelancers/~01bd65bc8cd1a3096d",
    icon: "icon-[logos--upwork]",
  },
]
---

<div class="flex gap-2">
  {
    contactInfo.map((it) => (
      <a
        class="bg-glass btn btn-outline hover:bg-white/40 !px-1"
        href={it.url}
        title={it.name}
        target="_blank"
        rel="noreferrer"
      >
        <span class:list={[it.icon, "text-xl xs:text-2xl"]} />
        <span class="">{it.name}</span>
      </a>
    ))
  }
</div>
