---
const contactInfo = [
  {
    name: "GitHub",
    url: "https://github.com/shrjamal",
    icon: "icon-[mdi--github]",
  },
  {
    name: "Telegram",
    url: "https://t.me/jamalshr",
    icon: "icon-[logos--telegram]",
  },
  {
    name: "Twitter",
    url: "https://twitter.com/shrjamal",
    icon: "icon-[logos--x]",
  },
  {
    name: "Upwork",
    url: "https://www.upwork.com/freelancers/~01bd65bc8cd1a3096d",
    icon: "icon-[logos--upwork]",
  },
]
---

<section id="contact" class="flex flex-col gap-8 py-20">
  <h2 class="text-5xl font-bold uppercase" style="font-family: 'Syne', sans-serif;">Get in Touch</h2>
  <div class="grid md:grid-cols-2 gap-16">
    <div class="flex flex-col gap-4">
        <p class="font-mono text-lg">
            Have a project in mind? Want to collaborate? Or just want to say hi?
            <br />
            Fill out the form or send an email to <a href="mailto:hi@shrjamal.com" class="text-primary font-bold">hi@shrjamal.com</a>
        </p>
      <form class="flex flex-col gap-4">
        <input type="text" placeholder="Name" class="p-4 bg-white border-2 border-black focus:outline-none focus:border-primary" />
        <input type="email" placeholder="Email" class="p-4 bg-white border-2 border-black focus:outline-none focus:border-primary" />
        <textarea placeholder="Message" rows="5" class="p-4 bg-white border-2 border-black focus:outline-none focus:border-primary"></textarea>
        <button type="submit" class="btn btn-primary">Send Message</button>
      </form>
    </div>
    <div class="flex flex-col gap-4">
        <h3 class="text-3xl font-bold" style="font-family: 'Syne', sans-serif;">Find me on</h3>
        <div class="flex gap-4">
            {
                contactInfo.map((it) => (
                    <a
                        class="text-black hover:text-primary transition-colors"
                        href={it.url}
                        title={it.name}
                        target="_blank"
                        rel="noreferrer"
                    >
                        <span class:list={[it.icon, "text-4xl"]} />
                    </a>
                ))
            }
        </div>
    </div>
  </div>
</section>
