<nav class="px-2 sm:px-4 py-2 w-full flex items-center relative">
  <img src="/logo.webp" alt="ShrJamal' Website logo" width={40} height={40} />
  <a
    class="text-2xl bg-gradient-to-br from-primary to-secondary bg-clip-text text-transparent font-extrabold"
    href="/"
  >
    Jamal
  </a>
  <div class="flex-1"></div>
  <slot />
</nav>
