---
import logo from '~/assets/images/logo.png'
import { Image } from 'astro:assets'
---

<nav class="px-4 py-2 w-full flex items-center relative">
  <Image src={logo} alt="ShrJamal' Website logo" width={40} height={40} />
  <a
    class="text-2xl bg-gradient-to-br from-primary to-secondary bg-clip-text text-transparent font-extrabold"
    href="/"
  >
    Jamal
  </a>
  <div class="flex-1"></div>
  <slot />
</nav>
