---

---

<footer class="w-full bg-black text-white p-4 border-t-4 border-primary">
  <p class="text-center text-sm font-bold uppercase">
    ShrJamal - &copy; {new Date().getFullYear()} All rights reserved.
  </p>
</footer>
