.bg-glass {
  @apply border-[1px] border-solid border-gray-400 shadow-lg;
  @apply backdrop-blur-sm backdrop-brightness-105;
  background: linear-gradient(
    220deg,
    rgba(255, 255, 255, 0.3) 0%,
    rgba(255, 255, 255, 0.1) 50%,
    rgba(255, 255, 255, 0.1) 100%
  );
}

.gradient-text {
  @apply bg-gradient-to-tl from-yellow-400 to-white bg-clip-text font-extrabold text-transparent;
}

/* :root {
  background-image: radial-gradient(
    circle at center,
    #1a86fa 0%,
    #047dfc 50%,
    #0d47a1 100%
  );
  background-color: #0d47a1;
} */
