---
import '~/global.css'
import { SEO } from 'astro-seo'
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/images/favicon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <script
      async
      defer
      data-website-id="b59b48d7-8a5e-44ce-9fc5-d3966fb0dbff"
      src="https://analytics.shrjamal.com/umami.js"
    ></script>
    <title>ShrJamal</title>
    <SEO
      title="Shrjamal"
      description="Jamal Asahraoui Personal portfolio."
      openGraph={{
        basic: {
          title: 'ShrJamal',
          type: 'website',
          image: '/images/favicon.png',
          url: 'https://shrjamal.com',
        },
      }}
      twitter={{
        creator: '@shrjamal',
        site: 'https://shrjamal.com',
        image: '/images/favicon.png',
      }}
    />
  </head>
  <body class="h-screen flex flex-col text-primary-content">
    <slot />
  </body>
</html>
