---
import BaseHead from '../components/core/BaseHead.astro'
import '~/assets/global.css'

export interface Props {
  class?: string
  title?: string
  description?: string
  ogImg?: string
}

const className = Astro.props.class
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead {...Astro.props} />
    <slot name="head" />
  </head>
  <body
    class:list={['flex min-h-svh w-screen flex-col items-center', className]}
  >
    <slot />
  </body>
</html>
