---
import BaseHead from '../components/BaseHead.astro'
import '~/assets/global.css'

export interface Props {
  class?: string
  title?: string
  description?: string
}

const className = Astro.props.class
---

<html lang="en">
  <BaseHead {...Astro.props} />
  <body class:list={['flex flex-col min-h-screen items-center', className]}>
    <slot class="flex-1" />
  </body>
</html>
