---
import TheFooter from "~/components/TheFooter.astro"
import BaseHead from "./BaseHead.astro"

export interface Props {
  class?: string
  title: string
  description: string
  ogImg?: string
}
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead {...Astro.props} />
    <slot name="head" />
  </head>
  <body
    class:list={["flex min-h-svh flex-col items-center", Astro.props.class]}
  >
    <slot />
    <TheFooter />
    <script>
      const observer = new IntersectionObserver((entries) => {
        entries.forEach((entry) => {
          if (entry.isIntersecting) {
            entry.target.classList.add("scrolled");
          }
        });
      });

      const sections = document.querySelectorAll("section");
      sections.forEach((section) => {
        observer.observe(section);
      });
    </script>
  </body>
</html>
