---
import BaseHead from "./BaseHead.astro"

export interface Props {
  class?: string
  title: string
  description: string
  ogImg?: string
}
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead {...Astro.props} />
    <slot name="head" />
  </head>
  <body
    class:list={["flex min-h-svh flex-col items-center", Astro.props.class]}
  >
    <slot />
  </body>
</html>
